In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Dummy Data HSS.csv')

In [3]:
import numpy as np
df=pd.read_csv("Dummy Data HSS.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social Media  4566 non-null   float64
 3   Influencer    4572 non-null   object
 4   Sales         4566 non-null   float64
dtypes: float64(4), object(1)
memory usage: 178.7+ KB

In [5]:
df.head()

     TV      Radio  Social Media Influencer       Sales
0  16.0   6.566231      2.907983       Mega   54.732757
1  13.0   9.237765      2.409567       Mega   46.677897
2  41.0  15.886446      2.913410       Mega  150.177829
3  83.0  30.020028      6.922304       Mega  298.246340
4  15.0   8.437408      1.405998      Micro   56.594181

In [6]:
df.tail()

        TV      Radio  Social Media Influencer       Sales
4567  26.0   4.472360      0.717090      Micro   94.685866
4568  71.0  20.610685      6.545573       Nano  249.101915
4569  44.0  19.800072      5.096192      Micro  163.631457
4570  71.0  17.534640      1.940873      Macro  253.610411
4571  42.0  15.966688      5.046548      Micro  148.202414

In [7]:
df.drop(['Social Media','Influencer'],axis=1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TV      4562 non-null   float64
 1   Radio   4568 non-null   float64
 2   Sales   4566 non-null   float64
dtypes: float64(3)
memory usage: 107.3 KB

In [9]:
df.dropna(inplace=True)

In [31]:
X=df.iloc[:,0:2]
y1=df.iloc[:,2]
y=np.array(y1).reshape(-1,1)

In [32]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [33]:
from sklearn.linear_model import LinearRegression
ligreg=LinearRegression()
ligreg.fit(X_train,y_train)
y_pred=ligreg.predict(X_test)

In [35]:
ligreg.score(X_test,y_test)

0.9989669179765102